body{
	display:flex;
	justify-content:center;
	flex-direction:column;
	background-image : url("../img/fond.jpg");
	background-size: cover;
	margin:auto;
	background-attachment:fixed;
}
button{
	background-color: transparent;
}

#clic{

}
